body{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.btn{
	height:30px;	
	display:block;
	margin-right:20px;
	font-size:16px;
	text-decoration:underline;
	cursor:pointer;
	color:#A42A29;	
	padding:10px;
}
.top{
    background:url("/web/volunteer/images/top.gif");
    width:960px;
    height:130px;
    margin:0 auto;
}
#SYLink{
    height: 120px;
    width: 350px;
    position: absolute;
    top:0;
    left: 0;
}
#IndexLink{
	height: 120px;
    width: 400px;
    position: absolute;
    top:0;
    left:350px ;
}
.banner{
    background:url("/web/volunteer/images/banner.jpg");
    width:960px;
    height:207px;
    margin:0 auto;
}
.main{
    width:960px;
    display:block;
    overflow:hidden;
    margin:0 auto;
    min-height:600px;
}
.LMenu{
    float:left;
    width:250px;
    display:block;
    overflow:hidden;
    background:url("/web/volunteer/images/LMenuBg.jpg") repeat-y;
}
.LNav{
    position:absolute;
    width:250px;   
}
.LNav ul li a{
    display: block;
    width: 250px;
    height: 49px;
    background:url("/web/volunteer/images/LMenu.jpg");
    background-position: 0 0;
    color: #FFF;
    font-size: 22px;
    text-align: center;
    font-family: "Microsoft Yahei";
    line-height: 49px;
    vertical-align: middle;
}
.LNav ul li a:hover{
    background-position: 0 -49px;
}
.LNavBtm{
    background:url("/web/volunteer/images/LMenuBtm.jpg");
    width: 250px;
    height: 39px;
}
.content{
    width:670px;
    display:block;
    overflow:hidden;
    float:right;
    padding: 20px;
}
.content p{
    text-indent: 2em;
    font-size: 16px;
    color: #333;
}
.bottom{
    background:url("/web/volunteer/images/btmBg.jpg") repeat-x;
    width:960px;
    height:141px;
    margin:0 auto;
    position: relative;
}
.bottom p{
    width: 600px;
    margin:5px;
    float: right;
    color: #FFF;
}
.btmL{
    background:url("/web/volunteer/images/btmL.jpg");
    position: absolute;
    width: 250px;
    height: 141px;
    top: 0;
    left: 0;
}


/* pink title */
.pTitle{
    color: #a42a29;
    font-size: 24px;
    text-align: center;
    font-family: "Microsoft Yahei";
}

.introList li{
	font-size:18px;
	line-height:27px;
	margin-bottom:20px;
}

.lanList{
	overflow:hidden;
}

.lanList li{
	float:left;
	width:300px;
	display:block;
	font-size:18px;
}