body{
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.btn{
	height:30px;	
	display:block;
	margin-right:20px;
	font-size:16px;
	text-decoration:underline;
	cursor:pointer;
	color:#A42A29;	
	padding:10px;
}
.top{
    background:url("/admin/volunteer/images/top.gif");
    width:960px;
    height:130px;
    margin:0 auto;
}
#SYLink{
    height: 120px;
    width: 350px;
    position: absolute;
    top:0;
    left: 0;
}
#IndexLink{
	height: 120px;
    width: 400px;
    position: absolute;
    top:0;
    left:350px ;
}
.banner{
    background:url("/admin/volunteer/images/banner.jpg");
    width:960px;
    height:207px;
    margin:0 auto;
}
.main{
    width:960px;
    display:block;
    overflow:hidden;
    margin:0 auto;
    min-height:600px;
}
.LMenu{
    float:left;
    width:250px;
    display:block;
    overflow:hidden;
    background:url("/admin/volunteer/images/LMenuBg.jpg") repeat-y;
}
.LNav{
    position:absolute;
    width:250px;   
}
.LNav ul li a{
    display: block;
    width: 250px;
    height: 49px;
    background:url("/admin/volunteer/images/LMenu.jpg");
    background-position: 0 0;
    color: #FFF;
    font-size: 22px;
    text-align: center;
    font-family: "Microsoft Yahei";
    line-height: 49px;
    vertical-align: middle;
}
.LNav ul li a:hover{
    background-position: 0 -49px;
}
.LNavBtm{
    background:url("/admin/volunteer/images/LMenuBtm.jpg");
    width: 250px;
    height: 39px;
}
.content{
    width:670px;
    display:block;
    overflow:hidden;
    float:right;
    padding: 20px;
}
.content p{
    text-indent: 2em;
    font-size: 16px;
    color: #333;
}
.bottom{
    background:url("/admin/volunteer/images/btmBg.jpg") repeat-x;
    width:960px;
    height:141px;
    margin:0 auto;
    position: relative;
}
.bottom p{
    width: 600px;
    margin:5px;
    float: right;
    color: #FFF;
}
.btmL{
    background:url("/admin/volunteer/images/btmL.jpg");
    position: absolute;
    width: 250px;
    height: 141px;
    top: 0;
    left: 0;
}


/* pink title */
.pTitle{
    color: #a42a29;
    font-size: 24px;
    text-align: center;
    font-family: "Microsoft Yahei";
}

.itemList li{
	font-size:14px;
	line-height:40px;
	vertical-align:middle;
	border-bottom:1px dashed #666;
}

/* news item cover */
.newsItem{width: 100%; margin-top: 30px;}
.newsItem li a {
    color: #910d0c;
}

.newsItem li a:hover {
    color: #6e0a09;
    font-weight: bold;
}

.newsDate {
    color: #cb4d4c;
}

/* news detail */
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #166E6F;
    border-style: none none dashed;
    border-width: medium medium 1px;
    display: block;
    height: 1px;
    margin: 0 auto;
    padding: 0;
    width: 95%;
}
.newsMainTitle {
    color: #053D3E;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center;
}
.newsInfo {
    color: #d63a38;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
}
.newsInfo span {
    color: #910d0c;
    font-weight: bold;
    margin-left: 20px;
}
.newsBody {
    color: #333333;
    font-family: Tahoma,Geneva,"宋体";
    font-size: 14px;
    overflow: hidden;
    padding: 20px;
}
.newsBody p {
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
}
.newsBody h3 {
    color: #FF6600;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
}
.newsBody img {
    margin: 20px auto;
}
