/* slider cover */
.theme-default #J_TopSlider {
	width: 650px; height: 300px; 
}
/* news item cover */
.newsItem li a,.newsItem2 li a {
	color: #166e6f;
}

.newsItem li a:hover,.newsItem2 li a:hover {
	color: #0b4747; font-weight: bold;
}
.newsDate {
	color: #40A2A3;
}
/*
* menu.css
*
*/
.nav {
	list-style: none;
}

.nav li {
	position: relative; display: block;
}

.dropdown_1column,.dropdown_2columns,.dropdown_3columns,.dropdown_4columns,.dropdown_5columns {
	z-index: 9999;
	/*margin:4px auto;*/ float: left; position: absolute; left: -999em;
	/* Hides the drop down */ text-align: left; padding: 10px 5px 10px 5px; border: 1px solid #9bdf70; border-top: none;
	/* Gradient background */ background: #fff; background: -moz-linear-gradient(top, #fff, #f0fbeb);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f0fbeb) );
	/* Rounded Corners */ -moz-border-radius: 0px 5px 5px 5px; -webkit-border-radius: 0px 5px 5px 5px; border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {
	width: 140px;
}

.dropdown_2columns {
	width: 280px;
}

.dropdown_3columns {
	width: 420px;
}

.dropdown_4columns {
	width: 560px;
}

.dropdown_5columns {
	width: 700px;
}

.nav li:hover .dropdown_1column,.nav li:hover .dropdown_2columns,.nav li:hover .dropdown_3columns,.nav li:hover .dropdown_4columns,.nav li:hover .dropdown_5columns
	{
	left: -1px; top: 36px; z-index: 9999;
}

.nav li:hover .dropdown_5columns {
	left: -300px; top: 36px; z-index: 9999;
}

.col_1,.col_2,.col_3,.col_4,.col_5 {
	display: inline; float: left; position: relative; margin-left: 5px; margin-right: 5px;
}

.col_1 {
	width: 130px;
}

.col_2 {
	width: 270px;
}

.col_3 {
	width: 410px;
}

.col_4 {
	width: 550px;
}

.col_5 {
	width: 690px;
}

.nav li .align_right { /* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px; -webkit-border-radius: 5px 0px 5px 5px; border-radius: 5px 0px 5px 5px;
}

.nav li:hover .align_right {
	left: auto; right: -1px; top: auto;
}

.nav p,.nav h2,.nav h3,.nav ul li {
	line-height: 21px; font-size: 12px; text-align: left; text-shadow: 1px 1px 1px #FFFFFF;
}

.nav h2 {
	font-size: 14px; font-weight: bold; letter-spacing: -1px; margin: 5px 0 10px 0; padding-bottom: 8px; border-bottom: 1px solid #c3e3b0; color: #333;
}

.nav h3 {
	font-size: 14px; margin: 5px 0 7px 0; padding-bottom: 7px;
	/*border-bottom:1px solid #888888;*/
}

.nav p {
	line-height: 18px; margin: 0 0 10px 0; color: #336600; text-align: center;
}

.nav li:hover div a {
	font-size: 12px; font-family: "����"; color: #006030; font-weight: bold; width: 100%; text-align: center; letter-spacing: 2px;
}

.strong {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.imgshadow { /* Better style on light background */
	background: #FFFFFF; padding: 4px; border: 1px solid #9ce671; margin-top: 5px; -moz-box-shadow: 0px 0px 5px #cce8bb;
	-webkit-box-shadow: 0px 0px 5px #cce8bb; box-shadow: 0px 0px 5px #cce8bb;
}

.img_left { /* Image sticks to the left */
	width: 110px; float: left; margin: 5px 15px 5px 5px; cursor: pointer;
}

.nav li .black_box {
	background-color: #333333; color: #eeeeee; text-shadow: 1px 1px 1px #000; padding: 4px 6px 4px 6px;
	/* Rounded Corners */ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
	/* Shadow */ -webkit-box-shadow: inset 0 0 3px #000000; -moz-box-shadow: inset 0 0 3px #000000; box-shadow: inset 0 0 3px #000000;
}

.nav li ul {
	list-style: none; padding: 0; margin: 0 0 12px 0;
}

.nav li ul li {
	font-size: 12px; line-height: 24px; position: relative; text-shadow: 1px 1px 1px #ffffff; padding: 3px; margin: 0; float: none; text-align: left;
	width: 130px;
}

.nav li .greybox li {
	background: #f0fbeb; border: 1px solid #9bdf70; margin: 0px 0px 4px 0px; padding: 4px 6px 4px 6px; width: 116px; text-align: center; cursor: pointer;
}

.nav li .greybox li:hover {
	background: #d4f7c4; border: 1px solid #9bdf70; padding: 4px 6px 4px 6px; margin: 0px 0px 4px 0px;
}

/*
* news.css
*
*/
hr {
	height: 1px; width: 95%; margin: 0 auto; padding: 0; display: block; border: none; border-bottom: 1px #166e6f dashed;
}

.itemBg {
	border: 1px solid #c1e1e0; border-top: none; overflow: hidden;
}

.titleBg {
	height: 28px; background: url("../images/TitleBg.jpg") repeat-x;
}

.titleBg2 {
	height: 55px; background: url("../images/TitleBg2.jpg") repeat-x; text-align: left;
}

.titleType1,.titleType2,.titleType3 {
	color: #0b5c5d; font-size: 14px; line-height: 28px; font-family: "Microsoft Yahei"; float: left; display: block; cursor: default;
	width:80px; text-align:center;
}
.titleType2,.titleType3 {
	color: #247a7b; cursor: pointer; font-weight: normal; text-decoration:underline;
}

.titleType3 {
	font-size: 20px; margin-left: 35px; margin-bottom: 5px; text-decoration: none; colr: #006666; font-weight: bold; width:auto;
}

.newsL {
	width: 370px; height: 253px; float: left; display: inline; margin-top: 5px; *margin-top: -5px; text-align: left;
}

.newsR {
	width: 270px; height: 253px; float: right; display: inline; margin-top: -5px; *margin-top: 10px; padding: 3px;
}

.topic {
	width: 95%; margin: 5px auto; margin-bottom: 10px; *margin-bottom: 0px;
	/* hack:IE */ display: block; color: #0f5150;
}

.topic h2 {
	color: #013334; font-size: 14px; margin-bottom: 5px; text-align: center; font-family: "Microsoft Yahei";
}

.topic a {
	color: #229b8e; text-indent: 2em; display: block;
}

.topic a:hover {
	color: #166e6f; cursor: pointer; text-decoration: underline;
}


.figure {
	overflow: hidden; margin-bottom: 10px;
}

.figure img {
	float: left; margin-top: 10px;
}

.figcaption {
	float: right; width: 140px; height: 85px; margin-top: 5px; margin-right: 3px; font-weight: bold;
}

.figcaption h3 {
	height: 18px; width: 140px; color: #166E6F; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.figcaption p {
	color: #666666; font-weight: normal; display: block; height: 60px; width: 130px; overflow: hidden;
}

.figcaption p:hover {
	cursor: pointer; color: #333;
}

.newsMainTitle {
	color: #053d3e; font-size: 18px; text-align: center; margin-top: 20px; margin-bottom: 5px;
}

.newsInfo {
	color: #229b8e; font-size: 12px; text-align: center; margin-bottom: 10px;
}

.newsInfo span {
	font-weight: bold; margin-left: 20px; color: #247a7b;
}

.newsBody {
	color: #333333; text-indent: 2em; font-size: 14px; padding: 20px; font-family: Tahoma, Geneva, "宋体"; text-align: center; overflow: hidden;;
}

.newsBody p {
	display: block; margin-top: 5px; margin-bottom: 10px; text-align: left;
}

.newsBody h3 {
	text-align: left; color: #FF6600; margin-top: 20px; font-weight:bold; font-size:16px;
}

.newsBody img {
	margin: 20px auto;
}

.newsLink {
	background: url("../images/newsLink.jpg"); width: 509px; height: 56px; margin: 20px;
}

/*
*
*
* docDept.css
*/
/*医师详情页*/
.perInfo {
	width: 150px; float: left;
}

.docTable {
	margin-bottom: 10px; color: #003E3E; width: 500px;
}

.docTable tr td {
	background: #f2fddb; padding: 5px;
}

.docTable tr th {
	font-weight: bold; font-size: 12px; text-align: center; border-bottom: 1px solid #b9df69; background: #e5f6c0; padding: 5px;
}

.docBody {
	color: #333333; font-size: 14px; padding: 20px; font-family: Tahoma, Geneva, "宋体"; text-align: center; overflow: hidden;
}

.docBody p {
	display: block; margin-top: 5px; margin-bottom: 10px; text-align: left;
}

.docBody h3 {
	text-align: left; color: #006030; margin-top: 20px;
}

/*专家一览*/
.expList hr {
	width: 100%; margin-top: 5px; margin-bottom: 5px;
}

.deptList,.perList {
	overflow: hidden;
}

.deptList {
	margin-bottom: 20px;
}

.expList .deptList a {
	font-size: 14px; font-family: "宋体"; font-weight: bold; width: 100%; text-align: left; letter-spacing: 2px; display: block; color: #AE0000;
}

.expList .perList li {
	overflow: hidden; width: 45px; float: left; margin-right: 30px; margin-top: 3px; margin-bottom: 5px;
}

.expList .perList a {
	font-size: 12px; color: #006030;
}

.expList .perList a:hover {
	text-decoration: underline;
}

.expList .subDeptList li {
	overflow: hidden; width: 90px; float: left; margin-right: 30px; margin-top: 3px; margin-bottom: 5px;
}

.expList .subDeptList a {
	font-size: 12px; color: #006030;
}

.expList .subDeptList a:hover {
	text-decoration: underline;
}

/*名医门诊、各级人才等图片列表*/
.picDocList li {
	overflow: hidden; display: block; width: 150px; height: 100px; float: left; margin-right: 25px; margin-left: 25px; margin-bottom: 20px;
}

.picDocList .docPic {
	float: left; width: 60px; height: 90px;
}

.docIntro {
	float: right; font-size: 12px;
}

.docIntro a {
	font-weight: bold; margin-right: 10px; color: #006030; font-size: 14px;
}
/*排班信息表*/
.Schedule,.SechDetail {
	width: 100%;
}

.totalTh th {
	font-weight: bold; background: #fff; font-size: 12px; text-align: left; background: #b9df69; padding-left: 3px;
}

.subTh th {
	font-weight: bold; font-size: 12px;
}

.SchTrPaOdd td {
	background: #ffd; font-size: 12px; padding-left: 3px;
}

.SchTrPaOdd td a,.SchTrPaEven td a {
	color: #006030;
}

.SchTrPaEven td {
	background: #e8f5fe; font-size: 12px; padding-left: 3px;
}

/*
*
* patient.css
*/
.queryTable {
	width: 90%; margin: 0 auto;
}

.queryTable tr th {
	font-weight: bold;
	text-align:left;
}

.queryTable tr td {
	padding: 10px;
	text-align:left;
}