/*
* menu.css
*
*/
.nav {
	list-style:none;
}

.nav li {
	position:relative;
    display: block;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,.dropdown_5columns {
    z-index: 9999;
	/*margin:4px auto;*/
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #9bdf70;
	border-top:none;
	/* Gradient background */
	background:#fff;
	background: -moz-linear-gradient(top, #fff, #f0fbeb);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f0fbeb));
    
    /* Rounded Corners */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

.nav li:hover .dropdown_1column, 
.nav li:hover .dropdown_2columns, 
.nav li:hover .dropdown_3columns,
.nav li:hover .dropdown_4columns,
.nav li:hover .dropdown_5columns {
	left:-1px;
	top:36px;
    z-index: 9999;
}

.nav li:hover .dropdown_5columns {
	left:-300px;
	top:36px;
    z-index: 9999;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

.nav li .align_right {
	/* Rounded Corners */
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

.nav li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

.nav p, .nav h2,.nav h3, .nav ul li {
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.nav h2 {
	font-size:14px;
    font-weight: bold;   
	letter-spacing:-1px;
	margin:5px 0 10px 0;
	padding-bottom:8px;
	border-bottom:1px solid #c3e3b0;
    color:#333;
}
.nav h3 {
	font-size:14px;
	margin:5px 0 7px 0;
	padding-bottom:7px;
	/*border-bottom:1px solid #888888;*/
}
.nav p {
	line-height:18px;
	margin:0 0 10px 0;
    color:#336600;
    text-align: center;
}

.nav li:hover div a {
	font-size:12px;
    font-family:"����";
	color:#006030;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}
.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #9ce671;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #cce8bb;
	-webkit-box-shadow:0px 0px 5px #cce8bb;
	box-shadow:0px 0px 5px #cce8bb;
}
.img_left { /* Image sticks to the left */
	width:110px;
	float:left;
	margin:5px 15px 5px 5px;
    cursor: pointer;
}

.nav li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

.nav li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.nav li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:3px;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}

.nav li .greybox li {
	background:#f0fbeb;
	border:1px solid #9bdf70;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;
    text-align: center;
    cursor: pointer;
}
.nav li .greybox li:hover {
	background:#d4f7c4;
	border:1px solid #9bdf70;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}


/*
* news.css
*
*/
hr{
    height: 1px;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    display: block;
    border: none;
    border-bottom: 1px #166e6f dashed;
}
.itemBg {
    border: 1px solid #c1e1e0;
    border-top:none;
    overflow:hidden;
}
.titleBg{
    height: 28px;
    background: url("../images/TitleBg.jpg") repeat-x;
}
.titleBg2{
    height: 55px;
    background: url("../images/TitleBg2.jpg") repeat-x;
    text-align: left;
}
.titleType1,.titleType2,.titleType3{
    color: #0b5c5d;
    font-size: 14px;
    line-height: 28px;
    text-indent: 15px;
    font-family:"Microsoft Yahei";
    float: left;
    display: block;
    cursor: default;
    margin-right: 5px;
}
.titleType2,.titleType3{
    color: #247a7b;
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
    margin-right: 5px;
}

.titleType3{
    font-size: 20px;
    margin-left:15px;
    margin-bottom:5px;
    text-decoration: none;
    color:#006666;
    font-weight:bold;
}

.newsL {
    width: 370px;
    height: 253px;
    float: left;
    display: inline;
    margin-top: 5px;
    *margin-top: -5px;
    text-align: left;
}

.newsR {
    width: 270px;
    height: 253px;
    float: right;
    display: inline;
    margin-top: 20px;
    *margin-top: 10px;
    padding: 3px;
}

.topic {
    width: 95%;
    margin: 5px auto;
    margin-bottom: 10px;
    *margin-bottom: 0px;  /* hack:IE */
    display: block;
    color: #0f5150;
}

.topic h2 {
    color: #013334;
    font-size: 14px;
    margin-bottom:5px;
    text-align: center;
    font-family:"Microsoft Yahei";
}
.topic a {
    color: #229b8e;
    text-indent: 2em;
    display: block;
}

.topic a:hover {
    color: #166e6f;
    cursor: pointer;
    text-decoration: underline;
}

.newsItem{
    width: 95%;
    display: block;
    margin: 0 auto;
}

.newsItem li{
    line-height: 26px;
    *line-height: 24px;
    height: 26px;
    *height: 24px;
    display: block;
    border-bottom: 1px dashed #CCC;
    cursor: pointer;
    letter-spacing: 1px;
}

.newsItem li a{
    color: #166e6f;
}
.newsItem li a:hover{
    color: #0b4747;
    font-weight: bold;
}

.newsItem2{
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: left;
}

.newsItem2 li{
    line-height: 30px;
    *line-height: 28px;
    height: 30px;
    *height: 28px;
    display: block;
    border-bottom: 1px dashed #CCC;
    cursor: pointer;
}

.newsItem2 li a{
    color: #166e6f;
}
.newsItem2 li a:hover{
    color: #0b4747;
    font-weight: bold;
}

.newsTitle{
    width: 75%;
    height: 26px;
    display: block;
    float: left;
    white-space:nowrap; overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-all;
}

.newIcon{
    background: url("../images/newIcon.gif");
    display: block;
    height: 11px;
    width: 27px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

.newsDate{
    float: right;
    display: block;
    color: #40a2a3;
    overflow: hidden;
}

.figure{
    overflow: hidden;
    margin-bottom: 10px;
}

.figure img {
    float: left;
    margin-top: 10px;
}

.figcaption {
    float: right;
    width: 140px;
    height: 85px;
    margin-top: 5px;
    margin-right: 3px;
    font-weight: bold;
}
.figcaption h3 {
    height: 18px;
    width: 140px;
    color: #166E6F;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.figcaption p {
    color: #666666;
    font-weight: normal;
    display: block;
    height: 60px;
    width: 130px;
    overflow: hidden;
}

.figcaption p:hover{
    cursor: pointer;
    color: #333;
}
.newsMainTitle {
    color: #053d3e;
    font-size: 18px;
    text-align: center;
    margin-top:20px;
    margin-bottom:5px;
}
.newsInfo {
    color: #229b8e;
    font-size: 12px;
    text-align: center;
    margin-bottom:10px;
}
.newsInfo span{
    font-weight: bold;
    margin-left: 20px;
    color:#247a7b;
}
.newsBody {
    color: #333333;
    text-indent: 2em;
    font-size: 14px;
    padding: 20px;
    font-family: Tahoma,Geneva,"宋体";
    text-align: center;
    overflow:hidden;;
}
.newsBody p {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.newsBody h3 {
    text-align: left;
    color: #006030;
    margin-top: 20px;
}
.newsBody img {
    margin: 20px auto;
}
.newsLink {
    background: url("../images/newsLink.jpg");
    width: 509px;
    height: 56px;
    margin: 20px;
}


/*
* slider.css
*
*/
/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
    position:relative;
    background:#fff url(/web/images/defaultSlider/loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.theme-default .nivoSlider a {
    border:0;
    display:block;
}

.theme-default .nivo-controlNav {
    position:absolute;
    right:5%;
    bottom: 10px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
    display:block;
    width:22px;
    height:22px;
    background:url(/web/images/defaultSlider/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.theme-default .nivo-controlNav a.active {
    background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
    display:block;
    width:30px;
    height:30px;
    background:url(/web/images/defaultSlider/arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
}
.theme-default a.nivo-nextNav {
    background-position:-30px 0;
    right:15px;
}
.theme-default a.nivo-prevNav {
    left:15px;
}

.theme-default .nivo-caption a {
    color:#fff;
    font-size: 16px;
    font-weight: bold;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

/*
Skin Name: Pascal Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A nice, light skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Pascal Gartner
Author URI: http://dev7studios.com
*/

.theme-pascal.slider-wrapper {
    background:url(/web/images/pascalSlider/slider.png) no-repeat;
    width:253px;
    height:167px;
    margin:0 auto;
    padding-top:12px;
    position:relative;
}

.theme-pascal .nivoSlider {
    position:relative;
    width:233px;
    height:142px;
    margin-left:10px;
    background:url(/web/images/defaultSlider/loading.gif) no-repeat 50% 50%;
}
.theme-pascal .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:233px; /* Make sure your images are the same size */
    height:142px; /* Make sure your images are the same size */
}
.theme-pascal .nivoSlider a {
    border:0;
    display:block;
}

.theme-pascal .nivo-controlNav {
    background:url(/web/images/pascalSlider/controlnav.png) no-repeat;
    width:251px;
    height:40px;
    position:absolute;
    left:0px; /* Tweak this to center bullets */
    top: 140px;
    padding:8px 0 0 82px;
    z-index:20;
    margin-left: -8px;
}
.theme-pascal .nivo-controlNav a {
    display:block;
    width:22px;
    height:22px;
    background:url(/web/images/defaultSlider/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.theme-pascal .nivo-controlNav a.active {
    background-position:0 -22px;
}

.theme-pascal .nivo-directionNav a {
    display:none;
}

.theme-pascal .nivo-caption {
    bottom:6%;
    left:0px;
    right:0px;
    width:auto;
    max-width:630px;
    overflow:hidden;
    background:#fff;
    text-shadow:none;
    font-family: arial, serif;
    color:#4c4b4b;
    height: 20px;
    position: absolute;
    bottom: -70px;
}
.theme-pascal .nivo-caption p {
    padding:5px 15px;
    color:#333;
    font-weight:bold;
    font-size:12px;
    text-transform:uppercase;
}
.theme-pascal .nivo-caption a {
    color:#333;
    font-weight:bold;
    font-size:27px;
    text-transform:uppercase;
}

/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */


/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
}
/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    opacity:0.8; /* Overridden by captionOpacity setting */
    width:100%;
    height: 49px;
    z-index:8;
}
.nivo-caption p {
    padding:5px;
    margin:0;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    font-family:"΢���ź�",SimHei;
    letter-spacing: 1px;
}
#J_InfoSlider .nivo-caption p {
    padding:0;
    margin:0;
    text-align: center;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
    position:relative;
    z-index:9;
    cursor:pointer;
}
.nivo-controlNav a.active {
    font-weight:bold;
}


/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}*/
/*body {
	line-height:1;
	color:black;
	background:white;
}*/
table {
    border-collapse:separate;
    border-spacing:0;
}
caption, th, td {
    text-align:left;
    font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:"";
}
blockquote, q {
    quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/

#dev7link {
    position:absolute;
    top:0;
    left:50px;
    background:url(images/dev7logo.png) no-repeat;
    width:60px;
    height:67px;
    border:0;
    display:block;
    text-indent:-9999px;
}

.theme-default #J_TopSlider {
    width:650px; /* Make sure your images are the same size */
    height:300px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:0;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
    clear:both;
}



/*
*
*
* docDept.css
*/
/*医师详情页*/
.perInfo {
    width: 150px;
    float: left;
}
.docTable {
    margin-bottom: 10px;
    color: #003E3E;
    width: 500px;
}

.docTable tr td {
    background: #f2fddb;
    padding: 5px;
}
.docTable tr th {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-bottom:1px solid #b9df69;
    background:#e5f6c0;
    padding:5px;
}
.docBody {
    color: #333333;
    font-size: 14px;
    padding: 20px;
    font-family: Tahoma,Geneva,"宋体";
    text-align: center;
    overflow: hidden;
}
.docBody p {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}
.docBody h3 {
    text-align: left;
    color: #006030;
    margin-top: 20px;
}


/*专家一览*/
.expList hr {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.deptList,.perList {
    overflow: hidden;
}
.deptList {
    margin-bottom: 20px;
}
.expList .deptList a{
    font-size:14px;
    font-family:"宋体";
    font-weight: bold;
    width: 100%;
    text-align: left;
    letter-spacing: 2px;
    display: block;
    color: #AE0000;
}

.expList .perList li{
    overflow: hidden;
    width: 45px;
    float: left;
    margin-right: 30px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.expList .perList a{
    font-size:12px;
    color:#006030;
}
.expList .perList a:hover{
    text-decoration: underline;
}

.expList .subDeptList li{
    overflow: hidden;
    width: 90px;
    float: left;
    margin-right: 30px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.expList .subDeptList a{
    font-size:12px;
    color:#006030;
}
.expList .subDeptList a:hover{
    text-decoration: underline;
}

/*名医门诊、各级人才等图片列表*/
.picDocList li{
    overflow: hidden;
    display: block;
    width: 150px;
    height: 100px;
    float: left;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.picDocList .docPic {
    float: left;
    width: 60px;
    height: 90px;
}

.docIntro {
    float: right;
    font-size: 12px;
}
.docIntro a {
    font-weight: bold;
    margin-right: 10px;
    color: #006030;
    font-size: 14px;
}
/*排班信息表*/
.Schedule,.SechDetail {
    width: 100%;
}
.totalTh th{
    font-weight: bold;
    background: #fff;
    font-size: 12px;
    text-align: center;
    background: #b9df69;
}
.subTh th {
    font-weight: bold;
    font-size: 12px;
}
.SchTrPaOdd td {
    background: #ffd;
    font-size: 12px;
}
.SchTrPaEven td {
    background: #e8f5fe;
    font-size: 12px;
}


/*
*
* patient.css
*/
.queryTable {
    width: 90%;
    margin: 0 auto;
}
.queryTable tr th {
    font-weight: bold;
}
.queryTable tr td {
    padding: 10px;
}