<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE struts PUBLIC
    "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
    "http://struts.apache.org/dtds/struts-2.0.dtd">
<struts>
    <package name="system" namespace="/system" extends="defaultj">
        <!-- 用户管理start -->

        <!--新增用户 -->
        <action name="addUser" method="addUser" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--更新用户信息 -->
        <action name="updateUser" method="updateUser" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--给用户重新分配角色 -->
        <action name="updateUserRole" method="updateUser" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--删除用户 -->
        <action name="deleteUser" method="deleteUser" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--修改用户密码 -->
        <action name="updateUserPwd" method="updateUserPwd" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--修改个人密码 -->
        <action name="updatePersonPwd" method="updateUserPwd" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--修改个人信息 -->
        <action name="updatePersonInfo" method="updatePersonInfo"
            class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--查询用户所具有的角色 -->
        <action name="listRoleByUserId" method="listRoleByUserId"
            class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!-- 启停用户 -->
        <action name="toggleEnableUser" method="toggleEnableUser"
            class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--查看所有非内置账户 -->
        <action name="listUser" method="listUser" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <action name="listSelectUser" method="listSelectUser" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--查找用户(查看个人信息用到) -->
        <action name="searchUserById" method="searchUserById" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <!--批量删除用户 -->
        <action name="batchDeleteUser" method="batchDeleteUser" class="userInfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>

        <!-- 用户管理end -->
        <!-- 角色管理start-->
         <action name="addRole" method="addRole" class="roleInfoAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
      </action>
      <action name="updateRole" method="updateRole" class="roleInfoAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
      </action>
      <action name="deleteRole" method="deleteRole" class="roleInfoAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
      </action>       
      <action name="bacthDeleteRole" method="bacthDeleteRole" class="roleInfoAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
      </action>
      <action name="listPrivilege" method="listPrivilege" class="roleInfoAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
      </action>       
      <action name="findPrivilegeByRoleId" method="findPrivilegeByRoleId" class="roleInfoAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
      </action>       
      <action name="listRole" method="listRole" class="roleInfoAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
      </action>
        <!-- 角色管理end-->
        
        <!-- 日志管理start-->
        <action name="listOperationLog" method="listOperationLog" class="operationLogAction">
            <result name="success" type="json">
               <param name="ignoreHierarchy">false</param>
               <param name="excludeNullProperties">true</param>
            </result>
        </action>
        
        <!-- 日志管理end-->
        
        <!-- 消息管理start-->
        
        <action name="deleteNews" class="messageAction" method="deleteNews">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <action name="batchDeleteNews" class="messageAction" method="batchDeleteNews">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <action name="readNews" class="messageAction" method="readNews">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <action name="listNews" class="messageAction" method="listNews">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <action name="haveNewSms" class="messageAction" method="haveNewSms">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>
        <action name="batchReadNews" class="messageAction" method="batchReadNews">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>        
        <!-- 消息管理end-->
        <!--查系统参数 -->
        <action name="findSystemInfo" method="findSystemInfo" class="sysinfoAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
        </action>    
         <!-- 数据字典-->
         <action name="listDataDict" method="listDataDict" class="dataDictAction">
                <result name="success" type="json">
                   <param name="ignoreHierarchy">false</param>
                   <param name="excludeNullProperties">true</param>
                </result>
          </action>
          <action name="listAllDataDict" method="listAllDataDict" class="dataDictAction">
                <result name="success" type="json">
                   <param name="ignoreHierarchy">false</param>
                   <param name="excludeNullProperties">true</param>
                </result>
          </action>
          <!-- 系统参数管理-->
          <action name="listAllparameters" method="listAllparameters" class="parameterAction">
                <result name="success" type="json">
                   <param name="ignoreHierarchy">false</param>
                   <param name="excludeNullProperties">true</param>
                </result>
          </action>
          <action name="searchparametersById" method="searchparametersById" class="parameterAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
           </action>
            <action name="updatParameter" method="updatParameter" class="parameterAction">
            <result name="success" type="json">
                <param name="ignoreHierarchy">false</param>
                <param name="excludeNullProperties">true</param>
            </result>
           </action>
    </package>
</struts>