hr{
    height: 1px;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    display: block;
    border: none;
    border-bottom: 1px #166e6f dashed;
}
.itemBg {
    border: 1px solid #c1e1e0;
    border-top:none;
    overflow:hidden;
}
.titleBg{
    height: 28px;
    background: url("../Images/TitleBg.jpg") repeat-x;
}
.titleBg2{
    height: 55px;
    background: url("../Images/TitleBg2.jpg") repeat-x;
    text-align: left;
}
.titleType1,.titleType2,.titleType3{
    color: #0b5c5d;
    font-size: 14px;
    line-height: 28px;
    text-indent: 15px;
    font-family:"Microsoft Yahei";
    float: left;
    display: block;
    cursor: default;
    margin-right: 5px;
}
.titleType2,.titleType3{
    color: #247a7b;
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
    margin-right: 5px;
}

.titleType3{   
    font-size: 20px;   
	margin-left:15px;
	margin-bottom:5px;
	text-decoration: none;
	color:#006666;
	font-weight:bold;
}

.newsL {
    width: 370px;
    height: 253px;
    float: left;
    display: inline;
    margin-top: 5px;
    *margin-top: -5px;
    text-align: left;
}

.newsR {
    width: 270px;
    height: 253px;
    float: right;
    display: inline;
    margin-top: 20px;
    *margin-top: 10px;
    padding: 3px;
}

.topic {
    width: 95%;
    margin: 5px auto;
    margin-bottom: 10px;
    *margin-bottom: 0px;  /* hack:IE */
    display: block;
    color: #0f5150;
}

    .topic h2 {
        color: #013334;
        font-size: 14px;
        margin-bottom:5px;
        text-align: center;
        font-family:"Microsoft Yahei";
    }
    .topic a {
        color: #229b8e;
        text-indent: 2em;
        display: block;
    }
    
    .topic a:hover {
        color: #166e6f;
        cursor: pointer;
        text-decoration: underline;
    }

.newsItem{
    width: 95%;
    display: block;
    margin: 0 auto;
}

.newsItem li{
    line-height: 26px;
    *line-height: 24px;
    height: 26px;
    *height: 24px;
    display: block;
    border-bottom: 1px dashed #CCC;
    cursor: pointer;
    letter-spacing: 1px;
}

.newsItem li a{
    color: #166e6f;
}
.newsItem li a:hover{
    color: #0b4747;
    font-weight: bold;
}

.newsItem2{
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: left;
}

.newsItem2 li{
    line-height: 30px;
    *line-height: 28px;
    height: 30px;
    *height: 28px;
    display: block;
    border-bottom: 1px dashed #CCC;
    cursor: pointer;
}

.newsItem2 li a{
    color: #166e6f;
}
.newsItem2 li a:hover{
    color: #0b4747;
    font-weight: bold;
}

.newsTitle{
    width: 75%;
    height: 26px;
    display: block;
    float: left;
    white-space:nowrap; overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-all;
}

.newIcon{
   background: url("../Images/newIcon.gif");
    display: block;
    height: 11px;
    width: 27px;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

.newsDate{
    float: right;
    display: block;
    color: #40a2a3;
    overflow: hidden;
}

.figure{
    overflow: hidden;
    margin-bottom: 10px;
}

.figure img {
    float: left;
    margin-top: 10px;
}

.figcaption {
    float: right;
    width: 140px;
    height: 85px;
    margin-top: 5px;
    margin-right: 3px;
    font-weight: bold;
}
    .figcaption h3 {
       height: 18px;
       width: 140px;
       color: #166E6F;
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
    }
    .figcaption p {
        color: #666666;
        font-weight: normal;
        display: block;
        height: 60px;
        width: 130px;
        overflow: hidden;
    }
    
     .figcaption p:hover{
         cursor: pointer;     
         color: #333;
     }
.newsMainTitle {
    color: #053d3e;
    font-size: 18px;
    text-align: center;
	margin-top:20px;
	margin-bottom:5px;
}
.newsInfo {
    color: #229b8e;
    font-size: 12px;
    text-align: center;
	margin-bottom:10px;
}
.newsInfo span{
    font-weight: bold;
    margin-left: 20px;
    color:#247a7b;
}
.newsBody {
    color: #333333;
    text-indent: 2em;
    font-size: 14px;
    padding: 20px;
    font-family: Tahoma,Geneva,"宋体";
    text-align: center;
    overflow:hidden;;
}
.newsBody p {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}

  .newsBody h3 {
       text-align: left;
       color: #006030;
       margin-top: 20px; 
    }
    .newsBody img {
       margin: 20px auto;
    }
.newsLink {
    background: url("../Images/newsLink.jpg");
    width: 509px;
    height: 56px;
    margin: 20px;
}