body {
	width: 960px; margin: 0 auto; position: relative;
}

.top {
	background: url("/web/cancer/images/top.jpg"); width: 960px; height: 120px; margin: 0 auto;
}

#SYLink {
	height: 120px; width: 350px; position: absolute; top: 0; left: 0;
}
/* nav style */
.nav ul {
	width: 100%; height: 31px; background: url("/web/cancer/images/navBg.jpg") repeat-x;
}

.nav ul li {
	display: block; height: 31px; overflow: hidden; float: left;
}

.nav ul li a {
	display: block; height: 31px; width: 120px; color: #FFF; font-size: 16px; text-align: center; float: left;
}

.nav ul li a:hover {
	margin-top: -3px;
}

.navSplit {
	display: block; float: left; height: 31px; width: 2px; background: url("/web/cancer/images/navSplit.jpg");
}
/* bottom style */
.bottom {
	background: url("/web/cancer/images/btmBg.jpg") repeat-x; width: 960px; height: 111px; margin: 0 auto; position: relative;
}

.bottom p {
	width: 500px; margin: 5px; float: right; color: #f48512;
}

/* slider */
.slider{
	float:left;
}
.theme-default #J_TopSlider{
	width:530px;
	height:186px;
}

/* post */
.post{
	float:right;
	width:425px;
}

/* news item cover */
.newsItem li a{
	color: #f67807;
}

.newsItem li a:hover {
	color: #f67807; font-weight: bold;
}

.newsDate {
	color: #f79927;
}